############################
# GENERAL
############################
.DS_Store
*.log
*.swp
*.swo

############################
# IDE
############################
.vscode/
.idea/

############################
# ==========================
# NODE / JAVASCRIPT
# ==========================
############################

# node modules
node_modules/
**/node_modules/

# package lock (if teacher wants ignored)
package-lock.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# coverage & builds
coverage/
dist/
build/
js/coverage/
js/dist/
js/build/

# specific student solution test files
js/practice/practice_write_run_tests/tests/sol.test.js
js/practice/practice_write_mocked_tests/tests/sol.test.js


############################
# ==========================
# JAVA
# ==========================
############################

# compiled class
*.class

# BlueJ
*.ctxt

# Mobile Java
.mtj.tmp/

# package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# crash logs
hs_err_pid*
replay_pid*

# gradle
.gradle/
**/.gradle/

# build folders
build/
bin/
out/
**/build/
**/bin/

# course specific java folders
java/practice/practice_with_mocked_tests/.gradle
java/practice/practice_with_run_tests/.gradle
java/practice/practice_with_mocked_tests/app/bin/
java/practice/practice_with_run_tests/app/bin/
java/practice/practice_with_mocked_tests/app/build/
java/practice/practice_with_run_tests/app/build/

java/examination/.gradle
java/examination/app/build/
java/examination/app/bin/